basicExamTaking_NodeRed-flow.json
[
    {
        "id": "64c0b220105b21f9",
        "type": "tab",
        "label": "Flow - basicExamTaking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c34cb4ca24be7e5",
        "type": "http in",
        "z": "64c0b220105b21f9",
        "name": "",
        "url": "/quizz/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "b2943ee28480531d",
                "c0d75d87254cd992"
            ]
        ]
    },
    {
        "id": "b2943ee28480531d",
        "type": "function",
        "z": "64c0b220105b21f9",
        "name": "findQuizzById",
        "func": "let id = msg.req.params.id;\n\nlet quizz = [\n  {\n    \"id\": \"756111dc-252c-4db2-9683-932b3898fbd3\",\n    \"title\": \"Beyond the Rocks\",\n    \"lsQuestion\": [\n      {\n        \"id\": \"52c720a1-3092-41eb-a2c9-6ad6743c9dd5\",\n        \"question\": \"Pandora and the Flying Dutchman\",\n        \"answer\": [\n          {\n            \"id\": \"1aef0c61-b4e3-49cc-a736-0eb8904363b7\",\n            \"content\": \"Band of Outsiders (Bande à part)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"cdc8b3af-ecc4-4884-a448-c1bd813e0717\",\n            \"content\": \"Confidential Report\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"eddd3e81-7969-49e2-b6ff-4e1ea848d555\",\n            \"content\": \"Dust in the Wind (Lian lian feng chen)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"41415605-62ca-4bc5-9af4-faa514431bc0\",\n            \"content\": \"A Pigeon Sat on a Branch Reflecting on Existence\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"86953dfb-b5e2-47a8-b7f6-c9da0c32ee02\",\n            \"content\": \"Luke and Lucy: The Texas Rangers (Suske en Wiske: De Texas rakkers)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e89ab69f-d15a-4ed8-a231-4033eab5d620\",\n            \"content\": \"Time for Killing, A\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"85f168a1-38a2-4d64-af6f-807319d9ee65\",\n            \"content\": \"Very Annie Mary\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3ffcf8fa-4722-463b-82c5-efb340b3e049\",\n            \"content\": \"Magnificent Obsession\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"144820ca-cf23-4369-b4ea-ba6f7077835d\",\n            \"content\": \"Last Angry Man, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e1b46558-b951-448b-8b07-75eee68f7270\",\n            \"content\": \"Teenage Paparazzo\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"f478f362-c18c-4db9-a31e-3fcb0c680465\",\n        \"question\": \"History Is Made at Night\",\n        \"answer\": [\n          {\n            \"id\": \"49bc038e-b74e-45c0-8680-d2932bb22294\",\n            \"content\": \"Lady from Shanghai, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bbef25b4-3fe7-4cac-b3dc-4103af36f54e\",\n            \"content\": \"Assassination of Jesse James by the Coward Robert Ford, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"07530ac4-ca50-465a-8a1a-ce03422caf50\",\n            \"content\": \"K2\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"69eb5969-14e4-48ba-b897-e8934efd62ac\",\n            \"content\": \"D.L. Hughley: Reset\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a1f5f920-34b6-43fd-8861-fd06ed052ae0\",\n            \"content\": \"Alexandra (Aleksandra)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"339b7fb5-6134-4038-aa66-cb47d5a80f4c\",\n            \"content\": \"Sharktopus\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c6db79ca-67e0-4a3f-b7db-0a97588fc6fa\",\n            \"content\": \"Bravo Two Zero \",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b027a283-d593-4c34-9dd4-57a420e5ddce\",\n            \"content\": \"Lady in a Cage\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d52d708f-4d42-4dd1-8326-eb660be82fe2\",\n            \"content\": \"Rampart\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7b7179fc-2429-4714-915f-72ac7e186ec8\",\n            \"content\": \"Blue Blood\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"3436fd36-184c-43e6-a362-1ed457f8b8ae\",\n        \"question\": \"Questioning Darwin\",\n        \"answer\": [\n          {\n            \"id\": \"6841090e-ef4e-4b36-b9d9-5a9606a581c4\",\n            \"content\": \"Big Boys Gone Bananas!*\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"84a518b8-c9cf-4919-b963-14e9532a5f04\",\n            \"content\": \"Undisputed III: Redemption\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6ddcd5e2-4a7a-45bc-b0f5-67f7e402ac60\",\n            \"content\": \"Haider\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2c92463c-a8eb-4dfa-a6f7-cb29673b80ad\",\n            \"content\": \"Ice Age Columbus: Who Were the First Americans?\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2d1d0479-64ba-4c6a-acd3-c47225af7146\",\n            \"content\": \"Sunset Blvd. (a.k.a. Sunset Boulevard)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f3b752f0-da16-4653-8918-56c1a34f38bd\",\n            \"content\": \"Deadly Outlaw: Rekka (a.k.a. Violent Fire) (Jitsuroku Andô Noboru kyôdô-den: Rekka)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"912ad196-6d60-424b-ab0a-5d47ecc4f8a3\",\n            \"content\": \"To Die For\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"daefc1ee-8a0c-4590-b30f-98c179c649f6\",\n            \"content\": \"Jack the Ripper\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6d4d002c-ed17-4c5a-9855-89a3da40a33f\",\n            \"content\": \"Stoker\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f8fae273-6b82-4da0-a4df-47aeacf35fe2\",\n            \"content\": \"Just Like Brothers (Comme des frères)\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"59909aa8-0792-47bf-92a8-75d02c2a53d5\",\n        \"question\": \"Easy Street\",\n        \"answer\": [\n          {\n            \"id\": \"e2c18136-e5e3-4c47-b269-43193bf1918c\",\n            \"content\": \"Tarnation\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"45883f44-c0c6-49e3-a918-26f166c4df48\",\n            \"content\": \"Uncle Marin, the Billionaire (Nea Marin miliardar) (Uncle Martin, the Multimillionaire)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c5007f51-1a5d-4c00-ba1f-e64d133cf724\",\n            \"content\": \"Next of Kin\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4d46b36f-d672-4973-9ef5-14512b60af42\",\n            \"content\": \"Stuart Little 3: Call of the Wild\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6c5e405f-fc99-41e8-9951-895b453449f2\",\n            \"content\": \"Cheap Detective, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"441aaee9-b404-4d77-a88c-81748f8d9fa3\",\n            \"content\": \"Necessities of Life, The (Ce qu'il faut pour vivre)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"961ca02e-909f-4146-bd62-2e600aa822ca\",\n            \"content\": \"Seventh Horse of the Sun  (Suraj Ka Satvan Ghoda)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"62e6bebd-34e8-48f6-b4c2-a94efe74e6a6\",\n            \"content\": \"Back from Eternity\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c18d7666-46e4-4729-8273-eb14f0e69697\",\n            \"content\": \"Girl in Progress\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8b2fe2f4-ab8c-4ba6-a75d-11f9e8f05f7a\",\n            \"content\": \"Goodbye Pork Pie\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"e215ba07-25c5-411c-b67f-36ab167feab9\",\n        \"question\": \"Zatoichi in Desperation (Shin Zatôichi monogatari: Oreta tsue) (Zatôichi 24)\",\n        \"answer\": [\n          {\n            \"id\": \"5560ae52-779b-409b-b8c4-3b25e108861f\",\n            \"content\": \"Student Prince in Old Heidelberg, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0a21d47d-65f4-44d1-b381-b86d2afedcf6\",\n            \"content\": \"Gray's Anatomy\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"44b0896e-4eca-459f-93ce-fdb311af3ec2\",\n            \"content\": \"Night of the Living Dorks\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"a86bf442-b0aa-4b8c-8780-117a87808583\",\n            \"content\": \"Guess Who's Coming to Dinner\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"84c7633e-3301-425d-bf9e-9f0060634800\",\n            \"content\": \"Moonfleet\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"6fa012a7-1e58-416e-bacd-a57f84ed8088\",\n            \"content\": \"Syndromes and a Century (Sang sattawat)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"63a72653-f857-439c-b52c-834cc0d3fa06\",\n            \"content\": \"Age of Innocence, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6befd267-881c-449e-9cad-fc5432e88bd1\",\n            \"content\": \"Life of a King\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d679d5aa-0099-4c37-876a-c2d84efd504f\",\n            \"content\": \"Mercredi, folle journée!\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f761166d-c234-40ee-b0f0-be4894a6a10f\",\n            \"content\": \"Meantime\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"6de50965-c59c-4447-9b48-42de4e19d740\",\n        \"question\": \"Dune\",\n        \"answer\": [\n          {\n            \"id\": \"9a0d0780-f9b1-45b8-9a6e-ad69a22b9069\",\n            \"content\": \"Meat Love\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"2fc376eb-e7a3-40a1-a37e-8f6eab92490a\",\n            \"content\": \"Arizona Raiders\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d727c1ee-1d18-4bcf-8e52-4c618b8278d5\",\n            \"content\": \"Black Magic Rites & the Secret Orgies of the 14th Century (Riti, magie nere e segrete orge nel trecento...)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7e3a1c2e-818d-4be0-9c96-77552f538500\",\n            \"content\": \"Stuck \",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"fdbf98a3-71ae-44bd-b4f5-9ecbae80c045\",\n            \"content\": \"Idiot's Delight\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d4640fc3-5d72-4dc5-b545-8d3ecd8ad03d\",\n            \"content\": \"Little Nikita\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"2255ac7e-2dc2-439c-8944-8c16a9bbddee\",\n            \"content\": \"Son in Law\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"bd290f88-4a2a-4e06-85df-f84133f8d51f\",\n            \"content\": \"Hangman's Knot\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0e26ec45-e3a5-411a-af19-b38c47d7b17c\",\n            \"content\": \"Mascara\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1489ef22-b56b-4092-9569-4bedbd1fe563\",\n            \"content\": \"Robots\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"f24af992-5fdb-432c-b4d8-0c4bced8afb0\",\n        \"question\": \"Lucy\",\n        \"answer\": [\n          {\n            \"id\": \"bb3a51c2-da91-4f1c-a085-98810a3df9dd\",\n            \"content\": \"Dots\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"689a8dc2-23b6-41e6-8d15-46ff6b4fd4ce\",\n            \"content\": \"Salut cousin!\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"065985ad-627c-49f3-bce9-9ae8e20160ce\",\n            \"content\": \"Battle of the Sexes, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d838b7c3-f645-4ba4-8e41-871da2bf9e71\",\n            \"content\": \"MGS: Philanthropy\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"97f162ed-a6c5-44b8-9746-9e1f371bb700\",\n            \"content\": \"Keys to the House, The (Chiavi di casa, Le)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"107eb509-2c6c-47e2-82f2-7c59ecc007bb\",\n            \"content\": \"Magic\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e59068db-bf94-454e-a404-5cbb926e5342\",\n            \"content\": \"One Trick Pony\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2a682ed8-0e4e-42fe-9013-a9ceca2336b3\",\n            \"content\": \"Incredible Rocky Mountain Race\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ec9caaa4-198a-4278-83cb-644829eb03e9\",\n            \"content\": \"The Vexxer\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"8b1eda15-ba49-46da-9282-14db8fc8e892\",\n            \"content\": \"Shut Up and Play the Hits\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"3e69b80a-596a-411c-b68f-d3d19ca48481\",\n        \"question\": \"Mission London\",\n        \"answer\": [\n          {\n            \"id\": \"9ffb3f4f-b265-4023-aeb7-3121af266931\",\n            \"content\": \"I-See-You.Com\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9b8300fe-a785-4985-a407-9f98dd3b3c8c\",\n            \"content\": \"Spiritual Kung Fu (Quan jing)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"bc50c300-34d8-4b27-8502-2ddfe5f45e80\",\n            \"content\": \"Nobody's Fool\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"813f7942-39fa-4127-8891-74114cdb80c1\",\n            \"content\": \"Fast Times at Ridgemont High\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1472a5e4-6d42-40e4-8d36-a8a7c6dd7870\",\n            \"content\": \"In China They Eat Dogs (I Kina spiser de hunde)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b6a4de30-3410-41e0-a9e4-12181521e98a\",\n            \"content\": \"Alpha and Omega 2: A Howl-iday Adventure (Alpha & Omega 2)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"14f02668-3ef2-4685-8555-faf07c57fe3e\",\n            \"content\": \"Liebestraum\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"168b599e-c11f-4341-922f-221f866c9ba5\",\n            \"content\": \"Clonus Horror, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"60caaa7c-63d1-4b61-8229-95981a08ce09\",\n            \"content\": \"Son of the Bride (Hijo de la novia, El)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"259fb8da-d770-41f2-af4a-da9101e5a344\",\n            \"content\": \"Naughty Marietta\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"9250978f-f890-4d93-a323-3b45c2094dcb\",\n        \"question\": \"My Life and Times With Antonin Artaud (En compagnie d'Antonin Artaud)\",\n        \"answer\": [\n          {\n            \"id\": \"e753e1b5-7a67-433b-8067-401016a8ca37\",\n            \"content\": \"Puss in Boots: The Three Diablos\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9d27d7f7-5e6e-40c8-8463-44daaec0e3db\",\n            \"content\": \"Susan Slept Here\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"36c86f27-72d9-4b22-b948-3b56e2acca72\",\n            \"content\": \"Being Elmo: A Puppeteer's Journey\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3aa93cbb-bb03-46e9-a0ce-5580d5f52641\",\n            \"content\": \"Story of Film: An Odyssey, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"71ac7736-4054-46f3-b22c-b73d459fc781\",\n            \"content\": \"Myth of the American Sleepover, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d9344ffc-8656-448e-9072-67772902e426\",\n            \"content\": \"Spring\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"8d93e071-0c7d-42c8-8270-062a0319cc4a\",\n            \"content\": \"Hell\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c5ae1944-8238-487c-9a32-6923bb5937df\",\n            \"content\": \"Bronx Obama\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"fbd93d63-0634-4db2-a53d-5f16f1d97719\",\n            \"content\": \"American Ninja 2: The Confrontation\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1da9af89-3473-4410-b5f3-0ba9405c8d86\",\n            \"content\": \"Kevin Hart: I'm a Grown Little Man\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"0ddd7a24-8cbe-48e9-8e45-d9f5d4252f13\",\n        \"question\": \"Under the Volcano\",\n        \"answer\": [\n          {\n            \"id\": \"f3d960d5-27df-4076-a204-440589a2d42a\",\n            \"content\": \"Fright\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c4dc4c6d-d86a-49eb-a636-cc252c0a1e0a\",\n            \"content\": \"Rhapsody in Blue\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bc29dff4-2710-411a-bf61-8d161d8c5424\",\n            \"content\": \"American Addict\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"98804db9-c2a5-478a-81e9-bf481d51e390\",\n            \"content\": \"Brainstorm (Bicho de Sete Cabeças)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c02a1837-6874-45ad-8b06-ffccdeb7af93\",\n            \"content\": \"Gridlock'd\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d0c87ea4-e094-447a-9624-74f948508297\",\n            \"content\": \"The Forgotten Space\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"bf1f319a-788f-4aac-b273-a0b4649dd035\",\n            \"content\": \"Quartier Mozart\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"529dcea0-edb7-4a97-ba94-78c5079c3b08\",\n            \"content\": \"Playing from the Plate (Grajacy z talerza)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b30a2a3b-b1f1-4b49-8260-79d9eb8e5c16\",\n            \"content\": \"Change of Address (Changement d'adresse)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"815c7276-3260-4f22-affd-a49926af97f7\",\n            \"content\": \"Novo\",\n            \"isCorrect\": true\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"id\": \"1b394bf0-26c0-4211-ace3-557661b0b671\",\n    \"title\": \"Two Kilers (Kilerów 2-óch)\",\n    \"lsQuestion\": [\n      {\n        \"id\": \"33c05ee9-9884-4f8a-8bee-d3ea6a4925fe\",\n        \"question\": \"Battle Royale 2: Requiem (Batoru rowaiaru II: Chinkonka)\",\n        \"answer\": [\n          {\n            \"id\": \"3573aca8-0f3b-4bf1-a4cd-3c3f6759e1bb\",\n            \"content\": \"Hills Have Eyes II, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"dc54ea98-1d32-4a65-97d4-651a7f7fba6e\",\n            \"content\": \"Lawless Frontier, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"645e3428-6a54-4184-a585-b2fe897b4eb3\",\n            \"content\": \"Harakiri (Seppuku)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"068ffdc9-2d61-42b9-bcc6-ebe87f9f3953\",\n            \"content\": \"Lumumba\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"74d1c9bc-b5ee-4041-bf4a-395c31e3a562\",\n            \"content\": \"Thoroughly Modern Millie\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"257c050e-fcf4-4d57-ba96-9ce18543ca12\",\n            \"content\": \"True Heart\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5f9b1e98-fab2-4f62-bcc8-09c7af27117f\",\n            \"content\": \"Bon Voyage\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"18acc500-fdec-430a-8a23-03066bb919a0\",\n            \"content\": \"Sweet Karma\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6098a364-8c9c-49c1-9652-babc5ffd27cf\",\n            \"content\": \"L.A. Without a Map\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"39b83fa0-9566-4d86-83a6-b80e47a9514d\",\n            \"content\": \"Soldier's Daughter Never Cries, A\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"c1f6e625-56ad-4bae-ae36-c691c78812ba\",\n        \"question\": \"7500\",\n        \"answer\": [\n          {\n            \"id\": \"9a54dda2-53b0-47ad-b768-f24070d71333\",\n            \"content\": \"Rocky Saga: Going the Distance, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"24ae7190-3cee-4931-88bd-a32b9268a3da\",\n            \"content\": \"Doctor Dolittle\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c5d10c37-15c3-4ad9-92e2-5c1bc9e4395c\",\n            \"content\": \"Larry the Cable Guy: Health Inspector\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"cd0b9623-2bab-4751-aaa7-e1d0ff50ffcd\",\n            \"content\": \"Beyond the Black Rainbow\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"525d3088-70b1-41d0-be50-000f41c26780\",\n            \"content\": \"Man Vanishes, A (Ningen Johatsu)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"380bd441-a253-469b-88ff-2132ee191135\",\n            \"content\": \"Presentation, or Charlotte and Her Steak (Présentation ou Charlotte et son steak)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"80e23287-14cb-446d-a853-51e374510e00\",\n            \"content\": \"Push\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8a9f9ec5-8c31-4ebb-a393-97ec38c28920\",\n            \"content\": \"They Wait\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e79e268e-82e4-4ddc-bdfb-a08123ee35d4\",\n            \"content\": \"Dungeon Masters, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1e534d02-0f58-43b3-aeae-e10f1a90d1dd\",\n            \"content\": \"Brazil: In the Shadow of the Stadiums\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"c81ac5d8-e9a1-4448-bfcd-d5565086dfe8\",\n        \"question\": \"Place Promised in Our Early Days, The (Kumo no mukô, yakusoku no basho)\",\n        \"answer\": [\n          {\n            \"id\": \"70d22dde-37b5-4071-86ec-0a9eabdacfca\",\n            \"content\": \"Beyond the Mind's Eye\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d135beab-4ef9-4e5a-a8ad-4c7692176cab\",\n            \"content\": \"And Now a Word from Our Sponsor\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a4b28ad3-7c35-41cc-b769-5b6cf484f88d\",\n            \"content\": \"Nativity!\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9ea2593f-9b7a-4afb-9ecf-2e478a0b7271\",\n            \"content\": \"Billy Madison\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"26ff3377-d28c-415b-a328-21c8a76de86c\",\n            \"content\": \"Woman Thou Art Loosed\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"710ed1b4-8552-443c-b82a-3ac7c2a97d77\",\n            \"content\": \"Short Cuts\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f4667fa1-5277-4c35-b7e9-3f70f96a0e15\",\n            \"content\": \"Christmas Carol, A (Scrooge)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d94164f2-f3b9-4d3b-96f6-cced4955e9c9\",\n            \"content\": \"Africa: Texas Style\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d4d24753-6fbd-4199-8d1d-a87143f587f8\",\n            \"content\": \"Home Song Stories, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b173d0f0-70f8-4912-9f2a-d47c8df88070\",\n            \"content\": \"Inside\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"63901c67-75e7-4c5f-8333-a968acff2470\",\n        \"question\": \"April in Paris\",\n        \"answer\": [\n          {\n            \"id\": \"b0bb6cd8-5ec2-4abc-802b-788bc92f3e2d\",\n            \"content\": \"Medicine for Melancholy\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"94125ffe-bede-4c76-a552-6e9e1af47490\",\n            \"content\": \"Outfit, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"37cde41c-44eb-49a4-823b-a6dab6bdaf34\",\n            \"content\": \"Family, The (Famiglia, La)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"527287f6-cc4a-4952-9bf1-cc24adcf75be\",\n            \"content\": \"Takers\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9cfe9292-d69b-441a-9522-2ac23fa1ce65\",\n            \"content\": \"Ironclads\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5c96ea5f-0d10-4272-96ee-cd09c95822da\",\n            \"content\": \"Fire Birds\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4df4dc1f-e278-4e81-9f0c-4353e62d6fcb\",\n            \"content\": \"49 Up\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7de7ed48-65dd-4db4-a891-70d06bee75b9\",\n            \"content\": \"On His Own (a.k.a. My Apprenticeship) (V lyudyakh)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d0c5c4b7-bdd9-4cfe-b1a2-f03a91621bef\",\n            \"content\": \"Scarface\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"66a5874b-812e-4bf9-9dad-51010261c38f\",\n            \"content\": \"So Close (Chik Yeung Tin Sai)\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"337b2b81-6576-43e1-ba63-85efedf5abae\",\n        \"question\": \"Jail Bait\",\n        \"answer\": [\n          {\n            \"id\": \"edd7055d-6461-4fe8-b959-0c85cd8165da\",\n            \"content\": \"Just Cause\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"068b0473-8878-4cf3-a853-d8d0d5f42d25\",\n            \"content\": \"Lupin III: Sweet Lost Night (Rupan Sansei: Sweet Lost Night)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"eb92cfd6-e44e-4c2e-abb3-cea72f2a59ea\",\n            \"content\": \"Fighting Seabees, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7350d077-c6af-4c21-906f-224a1c2a7887\",\n            \"content\": \"Venus in Fur (La Vénus à la fourrure)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5dd7a6d0-73cf-4ed8-ad31-c9c825734169\",\n            \"content\": \"Selfish Giant, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a2f3ce36-15cf-4bcc-ba7e-9a06332c53a3\",\n            \"content\": \"Christiane F. (a.k.a. We Children from Bahnhof Zoo) (Christiane F. - Wir Kinder vom Bahnhof Zoo)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"79195c33-696a-4ff3-8bfd-5f18f9cf72fd\",\n            \"content\": \"America the Beautiful \",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e5077236-6b16-429e-91e2-e2a17c55bc3b\",\n            \"content\": \"Passchendaele\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"cb0d797e-3fcb-4960-b8ef-7ccb88cfbc47\",\n            \"content\": \"Our Daily Bread\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"144e822c-b29b-4719-8d93-ddc08c00c8d9\",\n            \"content\": \"Three Brothers 2, The (Les trois frères, le retour)\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"2ce467eb-191f-4448-b2e4-d24e677fadc7\",\n        \"question\": \"How to Draw a Bunny\",\n        \"answer\": [\n          {\n            \"id\": \"9288df85-9af5-4912-85a1-66bcc886368e\",\n            \"content\": \"Terry Fator: Live from Las Vegas\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"95d511c6-7edc-4701-ac21-c22589363fc6\",\n            \"content\": \"Black Pond\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"945ee9d2-76f5-4aa6-9bfc-fa9c6aa4c620\",\n            \"content\": \"Batman Beyond: Return of the Joker\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5f8fb640-3a18-45c6-81e9-c43f151505c7\",\n            \"content\": \"Thumbelina\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"232ecbf5-4b4e-40d7-bc92-7c3ecc2810fc\",\n            \"content\": \"Blue Angel, The (Blaue Engel, Der)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"13b913af-c507-427f-b4b0-5df29a8b2433\",\n            \"content\": \"Gate of Heavenly Peace, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0189ddd4-48d0-4aa1-835b-56eef22ac5b5\",\n            \"content\": \"No Man's Land\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"61df0718-8e69-4108-86a7-d4bf9fe54279\",\n            \"content\": \"Caliber 9\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9f2d4053-6b2e-4757-bd40-9eb64c895fe8\",\n            \"content\": \"Zatoichi's Revenge (Zatôichi nidan-kiri) (Zatôichi 10)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"24c84af9-79ad-4033-8e8e-dc0a2025446f\",\n            \"content\": \"Li'l Abner\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"6bbf0f71-9d8e-4e13-93b0-586afc332847\",\n        \"question\": \"Horse Whisperer, The\",\n        \"answer\": [\n          {\n            \"id\": \"b6c1c89c-6442-41d4-b8d4-63bbceba404d\",\n            \"content\": \"50 Worst Movies Ever Made, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"dfb52f57-a5a7-4e74-9167-1e9526c1807c\",\n            \"content\": \"Earthsea (Legend of Earthsea)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c5d6e366-5e11-4fa3-8805-47b5a99344d1\",\n            \"content\": \"Five Fingers\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4834e314-6a9d-47cf-8984-b364780f403b\",\n            \"content\": \"Last Run\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"74326cec-044b-48a9-b524-3d8de52f0582\",\n            \"content\": \"Scarecrows\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"552f9416-a2d5-47c9-b459-b849cd42735e\",\n            \"content\": \"Happy Feet\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9c5114d3-3e0b-4faf-8a06-3b5877a14cde\",\n            \"content\": \"Klown: The Movie (Klovn)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"85e26215-3008-4cd6-9e5d-36684b681240\",\n            \"content\": \"Super Fuzz (a.k.a. Super Snooper) (Poliziotto superpiù)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"5ef38b44-b5b3-4de6-b628-375a38b4f23d\",\n            \"content\": \"Waterland\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"90b64859-636b-4fae-b2ea-6267dfd6f111\",\n            \"content\": \"Almost You\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"a70553e8-d605-491d-891d-ec4230b08251\",\n        \"question\": \"Nick Offerman: American Ham\",\n        \"answer\": [\n          {\n            \"id\": \"26646f63-286d-453e-8d1b-509e133a2ff2\",\n            \"content\": \"Baby Geniuses\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"3a76a4e4-7f5e-4abe-b354-4932bf8a15f5\",\n            \"content\": \"Hacks (Sink or Swim) (Big Twist, The)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"eac440ea-476d-4ca8-8ce3-ded65135f751\",\n            \"content\": \"Fail-Safe\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1e9a5c0a-44bf-4c7c-88b1-899f3ab83fe0\",\n            \"content\": \"Laurel Canyon\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"09f71710-53f1-4a5c-9f14-19ac000d3b83\",\n            \"content\": \"Hogfather (Terry Pratchett's Hogfather)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"3079f05d-8072-4cbb-a7ac-96a7a666442a\",\n            \"content\": \"Unmistaken Child\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f9279ed8-56a3-4a95-bb43-bb89363e5c0a\",\n            \"content\": \"Unfinished Business\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"eeef84de-d825-4083-aaa0-992c7b201b47\",\n            \"content\": \"Brigham Young\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b2773a70-f414-4d13-b999-ae2e72190c35\",\n            \"content\": \"Four Weddings and a Funeral\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"af6a597a-5fc6-4caf-8763-5ad5f0810c7f\",\n            \"content\": \"Hamburger Hill\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"cb975317-af3e-44df-bccb-dc5f4738c89d\",\n        \"question\": \"Walking with Monsters\",\n        \"answer\": [\n          {\n            \"id\": \"bf291e64-5f4c-4ca6-8570-815b755a3a86\",\n            \"content\": \"Broken Arrow\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"15c69a30-2303-409b-a024-6720506f0645\",\n            \"content\": \"Experience Preferred... But Not Essential\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f0e73ac0-9382-49ec-bbe9-97eb4e188fe5\",\n            \"content\": \"Penitentiary II\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"56c58061-f73f-4afe-ba60-174a6cd6840c\",\n            \"content\": \"French Film\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1d13abe0-b8e1-455f-a1ff-a3ca8cf92e7c\",\n            \"content\": \"Tarda estate\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4c81e2f3-ae8e-4b6f-a1f2-00fb5f41cb45\",\n            \"content\": \"Grand Seduction, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bfaa53d4-34f8-463e-85d1-3b69757fbb80\",\n            \"content\": \"Secret Agent\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"181587c9-56c2-4c93-9206-4d1b93a48901\",\n            \"content\": \"Tough and Deadly\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9efbc10a-2101-4f6a-b606-6d5af1e1fcef\",\n            \"content\": \"Masquerade (Gwanghai, Wangyidoen namja)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e69a0076-ce83-4494-a1f8-7ab7f27168ec\",\n            \"content\": \"Kiss Me Goodbye\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"954b6b55-d735-4f81-8185-50dfbefa6d67\",\n        \"question\": \"Cirque du Soleil: Varekai\",\n        \"answer\": [\n          {\n            \"id\": \"985d717c-b15f-4775-90ec-c0223c8b555f\",\n            \"content\": \"Warlock\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1cb44e45-b1e3-41a6-b110-a81f45a39461\",\n            \"content\": \"Mr. Nanny\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f71fd2cf-307d-423e-822c-ccd9e02f4f33\",\n            \"content\": \"Last of the Red Hot Lovers\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c9f9f6dc-d153-4ca5-8337-613c4bb0d9ef\",\n            \"content\": \"Waiting to Exhale\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"cf8a1fa6-ce37-43c0-8a4d-da404b66d863\",\n            \"content\": \"Second Best\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4a53979f-dec9-40d2-98f9-676971181f49\",\n            \"content\": \"Counterfeit Traitor, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"5f627757-c672-41f0-8c76-620c910aafae\",\n            \"content\": \"Seven Up!\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d1bb7521-002b-4292-b0bd-20e9145a704b\",\n            \"content\": \"Osmosis (Osmose)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6da64bae-535b-4807-acc3-475f0ffc849b\",\n            \"content\": \"Agata and the Storm (Agata e la tempesta)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"14a66904-0bd3-469e-bb7b-85f9a9976fa2\",\n            \"content\": \"Sing Your Song\",\n            \"isCorrect\": false\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"id\": \"f103577f-063c-4a3e-b8f8-1056f367aa53\",\n    \"title\": \"Get Over It\",\n    \"lsQuestion\": [\n      {\n        \"id\": \"df218678-4128-4bc1-9749-30ea2e35eca1\",\n        \"question\": \"Texas Chainsaw Massacre, The\",\n        \"answer\": [\n          {\n            \"id\": \"99732140-9d7e-40a8-9f3d-f24832fa37a0\",\n            \"content\": \"Ants in the Pants 2\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"83394316-5262-4031-a600-9420b866a757\",\n            \"content\": \"Bill Hicks: Revelations\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"74d552a6-0430-4fdd-bb08-5b0a18d5c5cd\",\n            \"content\": \"Here and Elsewhere\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"04ffa93b-6e2b-47be-942e-042bb555ba46\",\n            \"content\": \"Brake\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ef6b0a9f-24af-4fb9-ae93-7ef93f713aea\",\n            \"content\": \"Dark Alibi\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8b7be019-5d9c-4d02-b6a4-facce058376d\",\n            \"content\": \"The Pool Boys\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"50f06757-09a1-42cc-8bf1-19f4160b3021\",\n            \"content\": \"Jew Süss (Jud Süß)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"28aee953-e5ff-492c-a5c7-4e01053e7387\",\n            \"content\": \"Brute Force\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"79f71705-f3d8-42d7-a9ed-72f10e8d6766\",\n            \"content\": \"My Amityville Horror\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b35011aa-f04f-4192-8bcb-8466b55b0149\",\n            \"content\": \"Let Sleeping Corpses Lie (Non si deve profanare il sonno dei morti)\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"2034da63-3d26-46d8-b8de-9912b39913d1\",\n        \"question\": \"Pirates of the Caribbean: At World's End\",\n        \"answer\": [\n          {\n            \"id\": \"34c86a08-1521-4bb7-b454-e81cb1d0213d\",\n            \"content\": \"Islands in the Stream\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c07132b8-b437-4e17-b0eb-8f999d220f2b\",\n            \"content\": \"Deadline\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"3cec4b88-ed46-4a36-816d-e44e1e966200\",\n            \"content\": \"Des roses en hiver\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e161a03b-256d-4492-9c6f-85d89936d904\",\n            \"content\": \"Thompsons, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"b3d4e9ab-b009-42bb-bb85-e72a2a72d0ad\",\n            \"content\": \"Closet, The (Placard, Le)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c16ecf9c-64fc-4bf8-9b14-d0e0ff2bfe77\",\n            \"content\": \"25 Watts\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"82c008cb-0019-4502-987e-2fe95fe99391\",\n            \"content\": \"Subspecies IV: Bloodstorm\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"b3f68db7-c759-45ab-bd31-2df61db67f86\",\n            \"content\": \"Friend of Mine, A (Ein Freund von mir)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7ac4d011-05b3-4c2f-b16e-31037697b37a\",\n            \"content\": \"Rob Roy\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"bfd12580-8704-4a0b-b0b1-2c890e11e53e\",\n            \"content\": \"Solan og Ludvig: Jul i Flåklypa\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"2b315f7d-0f80-4a74-ad89-4320ae2d5e5f\",\n        \"question\": \"Project Wild Thing\",\n        \"answer\": [\n          {\n            \"id\": \"ee30dd75-0958-4597-920e-024f8dcb0102\",\n            \"content\": \"Step Brothers\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3045e5ba-5627-4021-884e-6972a8eddec3\",\n            \"content\": \"Scooby-Doo 2: Monsters Unleashed\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d65ccfb2-cc8e-4cf4-ba30-8190517a88f4\",\n            \"content\": \"Under the Lighthouse Dancing\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"b88ae7e3-9845-412f-bb0d-c897df811c6a\",\n            \"content\": \"Madagascar 3: Europe's Most Wanted\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0f8d65ff-ae24-42f1-84b3-3a2b912d724e\",\n            \"content\": \"American Dreams in China\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0e3b0ad3-3271-425c-874c-43bbb13d13b1\",\n            \"content\": \"Saturday Night and Sunday Morning\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c18976b5-496e-4aec-b628-c233865a2585\",\n            \"content\": \"Savannah Smiles\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6f59b12b-4356-43c9-a91b-ecb216c38f8a\",\n            \"content\": \"Utamaro and His Five Women (Utamaro o meguru gonin no onna)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"98985f21-212c-4ddf-bf8c-0e428bc3865a\",\n            \"content\": \"Nightbreed\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"174b6217-54d7-4af2-8226-562627b48393\",\n            \"content\": \"The Heavy\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"257c16cb-13d3-49ed-8ae8-4c7da9d102e5\",\n        \"question\": \"Tony Rome\",\n        \"answer\": [\n          {\n            \"id\": \"86277eca-fabf-492d-b8c4-4947521cc6ff\",\n            \"content\": \"Daddy Day Camp\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9b19ca04-7a59-4d41-a625-15f39f11d5a7\",\n            \"content\": \"Hell Ride\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7f813a4c-f81e-4550-896a-d2aa8b5135d8\",\n            \"content\": \"Keyhole\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"05d97594-24a0-4b49-a8f4-4543441b317c\",\n            \"content\": \"Dacii\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"91e58afc-715f-4561-90f9-9c0a6b8021fc\",\n            \"content\": \"Midnight Man\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9a94bb5c-1201-4c83-836e-ca627896fa6e\",\n            \"content\": \"Morning After, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bdc841b6-8274-4ddd-8e51-03f126469744\",\n            \"content\": \"Maximum Conviction\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6f03d4e4-a74b-4def-a4e4-4684da7af30c\",\n            \"content\": \"Men of Honor\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"dd1dcf79-4a82-4dd7-9f3d-40a0c3ff0dec\",\n            \"content\": \"Ninja, A Band of Assassins (Shinobi No Mono)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"6b4c58c2-9845-4d8d-8705-b1337951d2d9\",\n            \"content\": \"Life Is Hot in Cracktown\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"0e700c11-238a-4970-ac2f-95c743837578\",\n        \"question\": \"Adventures of Ichabod and Mr. Toad, The\",\n        \"answer\": [\n          {\n            \"id\": \"e8332029-a030-444c-a0b7-0a10a31d59a2\",\n            \"content\": \"Mother and the Whore, The (Maman et la putain, La)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e2b292a0-5b06-48c2-8fca-c3f63f2aba3b\",\n            \"content\": \"Wet Hot American Summer\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"a1256f6f-1bc3-409c-9830-3f0a99d21255\",\n            \"content\": \"Alfie\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"052b34b4-3657-4bf8-a306-be6ee61111ab\",\n            \"content\": \"Striking Distance\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4a938c19-5b7e-45c4-993e-60639cf5e34d\",\n            \"content\": \"Stanley Kubrick: A Life in Pictures\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7a25032f-28bc-465c-a5bd-73103e893c78\",\n            \"content\": \"I'm Not There\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0a98d7e7-d191-43b0-bed6-230c72f4edd7\",\n            \"content\": \"Rage at Dawn\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"44e35122-057f-41cf-8154-daa093b18374\",\n            \"content\": \"The Circle\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4cc037bc-de63-4466-9a84-473be03e401c\",\n            \"content\": \"War Made Easy: How Presidents & Pundits Keep Spinning Us to Death\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c971b5b3-af9d-4e66-a237-b2dd384205c6\",\n            \"content\": \"Puppet Master: Axis of Evil (Puppet Master 10)\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"1fdad973-b560-4afd-8585-861a3906c9d7\",\n        \"question\": \"Santa Buddies\",\n        \"answer\": [\n          {\n            \"id\": \"b1737d73-690b-4aaa-a3d3-0c6b3ccf5528\",\n            \"content\": \"Fletch\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"500607b5-c061-44b7-af32-bb539f4cb42a\",\n            \"content\": \"Peacock\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"40c8a169-7224-428a-b65f-ea04c718b11c\",\n            \"content\": \"Thin Line Between Love and Hate, A\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"322d25e7-ad4f-43e0-b483-9c2232b292ba\",\n            \"content\": \"Leprechaun 4: In Space\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1a41c676-31ed-4f60-9d2a-376f8f357986\",\n            \"content\": \"Last Horror Movie, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c5490648-dc19-4deb-9cfb-5635d3e34d26\",\n            \"content\": \"Johnny Dangerously\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"89ed8799-803a-4bab-ba55-d18332e72284\",\n            \"content\": \"Downtown\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"35c669df-ab59-40a7-af7a-dad936ff108f\",\n            \"content\": \"August: Osage County\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c4334297-67f7-4569-9f4f-6c2cb44298f1\",\n            \"content\": \"Last Godfather, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"95f8cba0-e621-403d-98de-05ea312c58fc\",\n            \"content\": \"Muppet Family Christmas, A\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"2ceb20dd-de4a-4750-9c2f-2f360907ddb3\",\n        \"question\": \"Afghan Star\",\n        \"answer\": [\n          {\n            \"id\": \"96dc7706-d0de-472b-8e29-2c543c58279a\",\n            \"content\": \"Jeepers Creepers\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9d24392c-d534-4e04-9f4f-d3f6500d309d\",\n            \"content\": \"Cheeky (Trasgredire)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"20bfa928-d9ec-49e1-82ef-364d4edb64e4\",\n            \"content\": \"You're Telling Me!\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c518f60e-769d-4936-9317-86250efc89b8\",\n            \"content\": \"Daddy Long Legs\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d05ff55f-f82a-4c27-aeb2-07970a0659d8\",\n            \"content\": \"The Snow White Murder Case\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"75031c0e-07a3-4549-8a41-fb9af071f152\",\n            \"content\": \"Kolka Cool\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"10ecec1c-b157-48b2-b87d-fd8aa35cc637\",\n            \"content\": \"Rock-afire Explosion, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"89334c2d-3870-48e8-a8ed-c2337892ee0f\",\n            \"content\": \"Home of Our Own, A\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"98b176fa-73e4-4077-ac20-ce9cda5d327b\",\n            \"content\": \"Black Box, The (La boîte noire)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5aa09867-ec97-419c-9bad-d9f1e764509c\",\n            \"content\": \"Company of Heroes\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"9b58278b-84ce-4d79-ae7c-7086ac78de1a\",\n        \"question\": \"Red Scorpion\",\n        \"answer\": [\n          {\n            \"id\": \"e5679d75-3336-4c70-9352-ff8ce8308fee\",\n            \"content\": \"Rainmaker, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"cbc3d4ac-5a3d-4550-931f-f8bdfd98b6ce\",\n            \"content\": \"Enemy of the People, An\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c6a0d0dd-87f7-4a40-866a-9ed3fb3e94de\",\n            \"content\": \"In Which We Serve\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8736a2b8-bf4f-4d69-95c3-e6e069bc9632\",\n            \"content\": \"Ten Little Indians (Ein Unbekannter rechnet ab) (And Then There Were None)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0ff023d7-e026-4430-a4f5-92dc21b2e4a4\",\n            \"content\": \"Fist of the North Star\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"a2b0062c-331d-4867-bb1c-0be6e6f8c097\",\n            \"content\": \"Adulthood\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bfd63929-3a6b-45c3-a870-b1503ce3a27c\",\n            \"content\": \"Hider in the House\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"9eb87362-dfc8-42ca-a81d-c1728d03f190\",\n            \"content\": \"Muppet Musicians of Bremen, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"287c23c6-8f62-40c6-a998-f088e2ad669f\",\n            \"content\": \"Lucifer Rising\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"191eafc8-1a17-4ac5-a688-0147f1987a71\",\n            \"content\": \"Weary River\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"64a90532-9b1b-4ce3-b755-320dcbe7623a\",\n        \"question\": \"Gloriously Wasted\",\n        \"answer\": [\n          {\n            \"id\": \"01b0c276-f9aa-44d2-9daa-5fca18e13bf4\",\n            \"content\": \"Quiet Earth, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"673c5d54-be37-4c46-8f0f-436860cb44d2\",\n            \"content\": \"Prom Queen: The Marc Hall Story\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c97832a9-470d-4d03-9918-81d53d3e51b4\",\n            \"content\": \"Hijack That Went South, The (Kaappari)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"41644bdc-3019-4f04-9ec0-1bc82bf33583\",\n            \"content\": \"Under the Same Moon (Misma luna, La)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2281855b-e0f6-4929-a9a3-21443756c0d0\",\n            \"content\": \"Last Year at Marienbad (L'Année dernière à Marienbad)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a5e59cc2-b413-41e3-a06d-3d9183dcc871\",\n            \"content\": \"Mummy's Tomb, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7deee33d-bc03-4a20-8bf4-38bb4ff41db5\",\n            \"content\": \"The Valley of Gwangi\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"b791374a-6761-421f-a12c-89e9f5b19b2c\",\n            \"content\": \"In the Mood For Love (Fa yeung nin wa)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"2736b67d-b886-4012-94c3-198d37731964\",\n            \"content\": \"At the Death House Door\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bb2a42f3-44a7-4d2b-8ba1-46086d58f302\",\n            \"content\": \"Ladykillers, The\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"1a20df24-e01b-43ba-923e-a27f6ade29a9\",\n        \"question\": \"This Is My Father\",\n        \"answer\": [\n          {\n            \"id\": \"d32f326d-fb16-48c9-8841-475ea69f00d4\",\n            \"content\": \"Ringu 2 (Ring 2)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"2f6389d2-aaa2-49f5-88e9-2aa596dacdd5\",\n            \"content\": \"Clifford\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"b8605137-4280-49b8-8444-7b757c260459\",\n            \"content\": \"Casino Royale\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"ad7c933c-4aeb-4367-adac-0fbb5e092858\",\n            \"content\": \"Fly, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a29a5639-ce28-476e-8b83-85a9aae71deb\",\n            \"content\": \"Living Daylights, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e9f208f9-0f37-4124-bd57-3c11e2504f6e\",\n            \"content\": \"Saint Ralph\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4b5e49ed-d2e5-4454-8e73-3926262281e5\",\n            \"content\": \"Barabbas\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"11b063cd-f6e0-4b6a-8b9e-08d67354a1af\",\n            \"content\": \"Manufacturing Reality: Slavoj Zizek and the Reality of the Virtual (Slavoj Zizek: The Reality of the Virtual)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d43534df-5abe-43e4-ab93-ff6b98b4caef\",\n            \"content\": \"Krippendorf's Tribe\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"6849a9ed-5f23-4edc-8016-3b1aa946b67c\",\n            \"content\": \"Way We Laughed, The (Così Ridevano)\",\n            \"isCorrect\": true\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"id\": \"cf11895a-c6b0-4230-b3ab-0148dc0854b5\",\n    \"title\": \"Molokai (Molokai: The Story of Father Damien)\",\n    \"lsQuestion\": [\n      {\n        \"id\": \"98852c8e-70e4-4428-b224-3d53ae9e1d3d\",\n        \"question\": \"Christiane F. (a.k.a. We Children from Bahnhof Zoo) (Christiane F. - Wir Kinder vom Bahnhof Zoo)\",\n        \"answer\": [\n          {\n            \"id\": \"6966e2f9-1be6-4908-aa91-b40c851725b3\",\n            \"content\": \"Reno 911!: Miami\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"eeaccdfc-8217-4c30-9406-190bf031c251\",\n            \"content\": \"Modern Affair, A\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"17b6bff3-435b-432b-b2e6-adc73a977fd7\",\n            \"content\": \"Marlowe\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"091e3574-0acd-4c06-9fc9-a6d7d6fc9fcb\",\n            \"content\": \"Shara (Sharasojyu)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"083da1c1-5111-4b40-b726-5e26663a9512\",\n            \"content\": \"Code, The (Mentale, La)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"ccf11a36-74da-4999-a4d8-3f6ecc25dd5d\",\n            \"content\": \"Galapagos Affair: Satan Came to Eden, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0ca6f4ac-95a7-472a-9a25-50b35aca9fdc\",\n            \"content\": \"Richard Pryor Here and Now\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"b9f627d1-6d76-43f6-9043-cc1e9f462b67\",\n            \"content\": \"Loose Cannons\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c206fd66-3f20-4629-b56e-b3b52330faa1\",\n            \"content\": \"Living Dead Girl, The (Morte Vivante, La)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1ec12c57-f4f1-4543-baa2-5d0510f85ca0\",\n            \"content\": \"Clockwatchers\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"43a51713-a256-453a-bacc-e470c58c8c63\",\n        \"question\": \"Reckoning, The\",\n        \"answer\": [\n          {\n            \"id\": \"54454689-be4f-4963-a1e6-176bdee1a340\",\n            \"content\": \"Children of the Damned\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"880a212c-e118-4f8f-b8b9-6dee772f7a2e\",\n            \"content\": \"Dreaming of Joseph Lees\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"ec6c00ba-dd6d-4e50-9c66-3574dde28d8a\",\n            \"content\": \"Broken Vessels\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8e201b24-ca29-4a63-9fec-60e59db878c2\",\n            \"content\": \"Partly Cloudy\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4e1e049a-f4fd-412a-8798-cf29b1b38d5d\",\n            \"content\": \"Tenebre\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5ddafb44-b560-4c32-86f8-a4af4a8fd509\",\n            \"content\": \"Bugsy\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"6d9dd5c6-aa21-4329-8c21-a541d16deff9\",\n            \"content\": \"Day and Night (Dag och natt)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"ff76cf7d-d884-4803-9b11-37567d0f6e40\",\n            \"content\": \"Broadway Rhythm\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2a76bb2e-600f-466d-8103-d68aae851827\",\n            \"content\": \"Devil's Chair, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4ec5f77d-de22-4b22-9d56-187af651031d\",\n            \"content\": \"Terumae romae (Thermae Romae)\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"54277b8a-8c84-4213-babf-525b02553c97\",\n        \"question\": \"Dragonslayer\",\n        \"answer\": [\n          {\n            \"id\": \"51ad2391-d31c-4532-bbbe-f2774ecba3a3\",\n            \"content\": \"Seventh Horse of the Sun  (Suraj Ka Satvan Ghoda)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"82b013cc-fa54-4b5f-a9e0-ec9a2e003e85\",\n            \"content\": \"Two Evil Eyes\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"e45a00c7-1f0c-4a95-8f64-02f3b2c600d7\",\n            \"content\": \"Three Guys Named Mike\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0fa6beba-aae4-493e-ac3d-436d59806c44\",\n            \"content\": \"Container\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4f50a08d-6707-4845-80aa-50f07d6c941d\",\n            \"content\": \"God's Puzzle (Kamisama no pazuru)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"68473032-cae7-4573-9671-4fb79d4ac1ae\",\n            \"content\": \"Centre Stage: Turn It Up\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"fda99f47-a2a5-4208-8f95-2229ef327e47\",\n            \"content\": \"Open Up to Me (Kerron sinulle kaiken)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"8039da4d-3252-4907-9b81-64fdb83590f5\",\n            \"content\": \"Kindergarten Cop\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c7bd2597-c071-4854-9e6f-2252b5abbb3a\",\n            \"content\": \"Man's Castle\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"57010dfe-9851-4460-b829-e8f7e9665c03\",\n            \"content\": \"Ripley Under Ground\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"9ca42052-120c-4104-aeee-1fa1302401f7\",\n        \"question\": \"Love and Lemons (Små citroner gula)\",\n        \"answer\": [\n          {\n            \"id\": \"206cd4bb-8a58-4f30-af99-d8a45f93f7fe\",\n            \"content\": \"Flat, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1e220dc6-f574-4b09-b21a-5ef255428111\",\n            \"content\": \"Eccentricities of a Blonde-haired Girl (Singularidades de uma Rapariga Loura)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"574b0e5c-ddbd-4d45-a680-bc4317f6ec97\",\n            \"content\": \"Show Boat\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"492af6e9-520e-4dea-98e2-5f4de4653252\",\n            \"content\": \"Wordplay\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"5045e0b3-432f-4c33-9716-ac91e640b566\",\n            \"content\": \"Animatrix, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"8864bd6a-84b9-46f2-ac95-593dc3dc93ec\",\n            \"content\": \"Blood into Wine\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"deffd073-dad5-453f-8960-9654abadb611\",\n            \"content\": \"My Tutor\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1088946b-819e-4dda-86db-89818028017a\",\n            \"content\": \"Texas Rangers\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"786969df-b4eb-49c4-9ee0-1a29cc2a506e\",\n            \"content\": \"Tyson\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"3c10d75d-521a-4c2a-ad39-fc142770219c\",\n            \"content\": \"White Zombie\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"d46b9f58-efbf-4d28-8ba2-944a5bac3927\",\n        \"question\": \"Collision Course\",\n        \"answer\": [\n          {\n            \"id\": \"29e85df3-4623-4a9c-9074-c2d34630d6f6\",\n            \"content\": \"Sorority House Massacre II\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7283e968-98c5-44c1-80b0-5193cb0a75cb\",\n            \"content\": \"Gods and Monsters\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"487c089d-7e53-487d-a514-a3d3a16b7817\",\n            \"content\": \"Slumber Party '57\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5784065c-7f48-4873-a41e-87bb3a5a03c2\",\n            \"content\": \"Vääpeli Körmy ja kahtesti laukeava\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ebfe197d-b40f-4b0c-9e39-f5ed9a1cae33\",\n            \"content\": \"Bedroom Window, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3d5d7e41-d64d-4624-a636-b122a364df98\",\n            \"content\": \"Three Burials of Melquiades Estrada, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"a1ed5c80-dc79-43c7-aa81-a0fe53dcfdc8\",\n            \"content\": \"Shanghai Surprise\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"068f2774-797f-4142-b24f-2687054c3766\",\n            \"content\": \"Secret Life of Bees, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d72ad835-c8c8-4824-8811-95f32b76d437\",\n            \"content\": \"Colors of the Mountain, The (Los colores de la montaña)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f38133bd-1019-4426-a0d8-a1274478195d\",\n            \"content\": \"Bodyguard, The\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"55c575b4-704c-4290-9492-6e0304370983\",\n        \"question\": \"Drunks\",\n        \"answer\": [\n          {\n            \"id\": \"8002bfed-0dfc-49df-8a19-4564729cf9ee\",\n            \"content\": \"Are We Done Yet?\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"16100a2e-280f-4abd-aba6-d9adec07c059\",\n            \"content\": \"U.S. Seals\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d7a97cea-b38d-4a57-8db9-cf7a97bc886e\",\n            \"content\": \"How to Make Love to a Woman\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9a23a0e2-5a73-4c99-a813-67feadf8cfca\",\n            \"content\": \"Sudden Fear\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"da334ddb-441a-4baa-8a4a-b5996d76560c\",\n            \"content\": \"Out to Sea\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c09e410d-deda-4ceb-a708-4ee81f4084dd\",\n            \"content\": \"Crazies, The (a.k.a. Code Name: Trixie)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"13e701d6-c8ca-4de6-840d-9fb0326ea71c\",\n            \"content\": \"Muertos, Los\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"53f15967-71d0-43d6-af73-6db70bbedbc3\",\n            \"content\": \"Kill by Inches\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"36124faf-b926-40fc-bd0e-a4160498ce57\",\n            \"content\": \"Hard Target\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"430382c4-7608-4c9e-a5a4-ef2e2d8528f0\",\n            \"content\": \"Net 2.0, The \",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"4e820427-69bb-4cb6-a16a-b4d2729d5633\",\n        \"question\": \"Blind Menace, The (Shiranui kengyô)\",\n        \"answer\": [\n          {\n            \"id\": \"246419c4-c45b-4041-b47b-9322bd97da12\",\n            \"content\": \"Into the Woods\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c53226d8-ed90-4ada-b62b-6e3fa3eeb995\",\n            \"content\": \"Dead Next Door, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"72a93d14-77dc-4cd1-84f5-df03ed30d13d\",\n            \"content\": \"Willie & Phil\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"1e966e7b-c308-4b50-95f3-624be5d30e52\",\n            \"content\": \"Dancing Masters, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e1487399-7398-472e-87cd-50dceb9f21e4\",\n            \"content\": \"Green Years, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7f87987f-69ab-4671-845e-a1e8d3a7475f\",\n            \"content\": \"Horrible Bosses\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a71fff6c-c538-498b-938b-003e37131c05\",\n            \"content\": \"Sunlight Jr.\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1ac0da4d-1fc4-48fc-b409-64783d6bd56c\",\n            \"content\": \"Windfall\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"bafbcc41-f736-4072-a87e-428ea572462d\",\n            \"content\": \"Union Square\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"06f25520-0487-4bae-b78d-16c7e405ac5d\",\n            \"content\": \"Island, The\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"40281463-8337-4d0c-a085-b81a52650966\",\n        \"question\": \"Fun Size\",\n        \"answer\": [\n          {\n            \"id\": \"5178b7f7-736c-42c6-81a0-1807b9b0bc42\",\n            \"content\": \"Miss Météo\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ee9ae94e-e3df-46a2-a7c7-da1e6d22fc49\",\n            \"content\": \"Tales That Witness Madness\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f451f639-3551-4cd8-a9cd-b77b18466f2e\",\n            \"content\": \"The Body\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3cfeeb4b-0b74-48a1-a1d3-3d488ce19d30\",\n            \"content\": \"Angels of the Universe (Englar alheimsins)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"1a1206ad-2d4e-4a64-94c5-c9eb80124d67\",\n            \"content\": \"Tobacco Road\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e4511c8d-c2c4-4527-878f-1f6c6599ada0\",\n            \"content\": \"Cold Comfort Farm\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"331c8dab-cda2-4218-b90f-814e855c6e9d\",\n            \"content\": \"Rules of Engagement\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"bcb7015d-6eb6-4c96-9480-d1d4d3476f02\",\n            \"content\": \"Ballou\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"18cd6f73-7ba0-4696-b8ec-c06e91a9edb0\",\n            \"content\": \"Scanners III: The Takeover (Scanner Force)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"dd77eada-793e-4f9e-96c6-2af2ea515e71\",\n            \"content\": \"Four, The (Si da ming bu)\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"1691491c-4ab1-4c76-adcb-28c3a3146ab9\",\n        \"question\": \"When Jews Were Funny\",\n        \"answer\": [\n          {\n            \"id\": \"bc6b3fe2-1ffb-4f34-b2df-952b935e6ad8\",\n            \"content\": \"Saint Jack\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"03e64299-4837-4438-86ee-d9d007ad983e\",\n            \"content\": \"Pompeii\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"22d48660-e0b5-4802-a999-5742dfe44000\",\n            \"content\": \"Apartment 1303 3D\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"893b7d94-5e24-4c4b-a1d8-fd0bcaf93548\",\n            \"content\": \"Dirty Deeds\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c50e8178-8c89-4665-9458-5432ad94bcca\",\n            \"content\": \"You Got Served\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"434ae713-35e7-4415-a9bd-a8d0b76416c4\",\n            \"content\": \"Pinocchio\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7a4bacb7-51fa-46b1-96ce-b9a92309cb8a\",\n            \"content\": \"Covert Action\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"d2ef05b1-e635-4a6a-a12e-595227bdda1e\",\n            \"content\": \"Romasanta: The Werewolf Hunt\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"010ddae2-e493-4d23-818b-9668cfcd8534\",\n            \"content\": \"Calling Bulldog Drummond\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"860366ef-ffcf-4b61-96b7-f164d9dbad05\",\n            \"content\": \"Conan O'Brien Can't Stop\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"f8e68d8f-671e-4d40-b99f-515bf223d1ae\",\n        \"question\": \"Other Boleyn Girl, The\",\n        \"answer\": [\n          {\n            \"id\": \"4cdf0779-8798-4681-b580-56d074dac579\",\n            \"content\": \"Sid and Nancy\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"fc89e4a3-5889-48b3-8ceb-6cd6c0d53f66\",\n            \"content\": \"Varan the Unbelievable\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"43d1591b-dd14-479e-8d1f-42c152f66a3f\",\n            \"content\": \"Twelve Angry Men\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7bb7703e-ecab-4f86-80cb-6bcd34aced26\",\n            \"content\": \"30 Beats\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"40a15ea8-65f9-4e16-9ed4-3c85510e2208\",\n            \"content\": \"Magic in the Moonlight\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"7d466775-bd62-43d7-a73e-547cc3d9a6c9\",\n            \"content\": \"Honkytonk Man\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"9080ab7a-772f-44ce-9835-461e0c82cd68\",\n            \"content\": \"MacGyver: Trail to Doomsday\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"60df8fd5-36e8-456a-8679-ea00727c3718\",\n            \"content\": \"Wishmaster 2: Evil Never Dies\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4582c147-4309-4026-b0a9-bfb6f4860721\",\n            \"content\": \"Sharknado 2: The Second One\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"39365557-1e79-4990-926a-0762247b9722\",\n            \"content\": \"Dil Se\",\n            \"isCorrect\": false\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"id\": \"eb04693e-7b16-4bdd-a185-c275032f8f87\",\n    \"title\": \"Stay as You Are\",\n    \"lsQuestion\": [\n      {\n        \"id\": \"44cc6ee1-6faa-46ae-b3cd-629765a59848\",\n        \"question\": \"Vivacious Lady\",\n        \"answer\": [\n          {\n            \"id\": \"ec123e8a-6f01-4840-8dbd-ca96440df002\",\n            \"content\": \"Deceived\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"81cf57ff-c4e9-4be8-b8e0-ad072e4465de\",\n            \"content\": \"Upswing (Nousukausi)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"21fb82a9-f311-4df0-adde-b8ee9168fe2d\",\n            \"content\": \"Ladrones\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"63379b45-2a89-4f38-b604-5cb287025b40\",\n            \"content\": \"Robot & Frank\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"58a14bd0-f266-48e9-b4dc-59c79c3270cd\",\n            \"content\": \"Malibu High\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3afbec1c-3dd8-48f0-9c55-78231b55393b\",\n            \"content\": \"Abendland\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e568ee9f-19c0-4d7e-8110-b82e8ad59b2c\",\n            \"content\": \"Butterfield 8\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a5406425-75a6-4344-b8a7-e309292ad797\",\n            \"content\": \"Mischief\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c93765ea-6d71-4c93-a2a9-32f5dc1d7734\",\n            \"content\": \"So Proudly We Hail!\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6d7ca3ea-cfd5-4db0-b2dc-ce3a95e45227\",\n            \"content\": \"Great Bank Hoax, The\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"2c73abfc-5841-4aed-93a4-0645fc1e8979\",\n        \"question\": \"Who Is Harry Nilsson (And Why Is Everybody Talkin' About Him?)\",\n        \"answer\": [\n          {\n            \"id\": \"360fdb78-13b0-4de1-ae76-708b48375550\",\n            \"content\": \"Iron Lady, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"facf085b-b3cb-4465-9e03-5b5a2452c86e\",\n            \"content\": \"How I Unleashed World War II (Jak rozpetalem II wojne swiatowa)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"612374f1-c498-4749-834a-af640c9670a7\",\n            \"content\": \"Jewtopia\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"513fd72b-0462-4d2a-8fd4-f2153fd32ca6\",\n            \"content\": \"Out of the Furnace (Dust to Dust) (Low Dweller, The)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"054514ec-aebc-4107-b86f-22fa03c506c5\",\n            \"content\": \"Watching the Detectives\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"abb4cd36-99b9-4b7e-af8a-e6e7b9693d14\",\n            \"content\": \"Atomic Brain, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5a341eda-2e87-4501-b3af-6f3bd1bec7a8\",\n            \"content\": \"Cop and ½\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"beb789b9-960b-4941-975b-ce86955c1976\",\n            \"content\": \"It Happened Here\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"8a8b7c3e-abed-4a0b-992f-da00caa771e2\",\n            \"content\": \"Quartet\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"cc54bdb4-46e8-495c-8e62-583760c8e2d2\",\n            \"content\": \"Adanggaman\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"c128bd8c-4de2-4a48-b5f7-e1c6a8bae07d\",\n        \"question\": \"Excuse Me Darling, But Lucas Loved Me\",\n        \"answer\": [\n          {\n            \"id\": \"79ba1ad4-6d46-42b5-b50f-a4c4c00ec551\",\n            \"content\": \"Room for One More\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f7e54f2f-c69c-437e-8418-48e5cc36b5d5\",\n            \"content\": \"Hall Pass\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f83cc017-9ed6-4973-8651-d8151df3de9f\",\n            \"content\": \"Rembrandt's J'accuse\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f23c0092-aca4-4e5b-a3bb-04ff70e27de3\",\n            \"content\": \"Slammin' Salmon, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"90988bad-153c-4187-af73-4e7bd9ec5bad\",\n            \"content\": \"Hi Tessa (Czesc Tereska)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"5afd01ed-3ecb-420e-ab7d-65583c89bfa7\",\n            \"content\": \"Easy Virtue\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"f0b89ded-c656-4610-8330-f8ec77b2a805\",\n            \"content\": \"G-Force\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"065ec989-aebd-447b-a174-33d6d5ee03df\",\n            \"content\": \"Lineup, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a726a24f-ef2a-4cc5-aa41-5cc974896795\",\n            \"content\": \"On the Ropes\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4c1b7e07-73b4-4515-bcf5-ad88a3f2fbe8\",\n            \"content\": \"A mí las mujeres ni fu ni fa\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"c14ba17b-cc0f-4313-a988-67b56279c72e\",\n        \"question\": \"Life in a Day\",\n        \"answer\": [\n          {\n            \"id\": \"ad709278-5d6c-4f32-9e63-9fa2915e66ee\",\n            \"content\": \"Midnight Movies: From the Margin to the Mainstream\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4d18a98e-75d0-458f-a6e4-98d17f7bcd16\",\n            \"content\": \"Capturing the Friedmans\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"7ea5340f-205d-4803-8924-8a8d5d0a75f8\",\n            \"content\": \"Buccaneer, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"27374e85-5f5c-4b5f-96c0-ae83b94221b4\",\n            \"content\": \"Chelsea Girls\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c7408ed3-655e-43a8-8642-9bc715d5f00e\",\n            \"content\": \"Men Who Stare at Goats, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4e371c8d-76a3-406c-8efd-08425a4b2d4e\",\n            \"content\": \"Monster Squad, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ad445f1e-0a65-4efb-80ab-516596b1583d\",\n            \"content\": \"Gen-Y Cops (Te jing xin ren lei 2) (Gen-X Cops 2: Metal Mayhem) (Metal Mayhem)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"a89933db-0363-436e-80b0-2b46e97bc592\",\n            \"content\": \"Asterix & Obelix: God Save Britannia (Astérix et Obélix: Au service de Sa Majesté)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"0b6bbb00-d9bd-459d-878a-533be0f84921\",\n            \"content\": \"Wind Journeys, The (Viajes del viento, Los)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"beb769f1-d2c6-47b3-941d-a3bdf2f7d370\",\n            \"content\": \"Who Can Kill a Child? (a.k.a. Island of the Damned) (¿Quién puede matar a un niño?)\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"b929adc3-ebcb-40bd-aeaa-0a62bc0bc7bd\",\n        \"question\": \"Kismet\",\n        \"answer\": [\n          {\n            \"id\": \"ff0a10dc-b80c-40dc-92df-de0f699dda39\",\n            \"content\": \"Heavenly Creatures\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f0ac540c-c702-47f3-891f-c8b4e826640b\",\n            \"content\": \"Triumph of Love, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"d847705b-a965-480b-80ae-54cc92015825\",\n            \"content\": \"Tarnation\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"4491b230-edc0-423d-b82c-809516b6ef01\",\n            \"content\": \"Only Daughter\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"62397408-ec34-441c-9509-0b83dbfe0e96\",\n            \"content\": \"Net, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"cb1e9fe4-784a-4673-9b8e-bd9f3de98d28\",\n            \"content\": \"Last Horror Movie, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"659e1716-e725-45b9-9b84-73b7d2d440f1\",\n            \"content\": \"Last Resort (National Lampoon's Last Resort)\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"3585a6b3-8100-41c5-84fa-ee57df3b3e3f\",\n            \"content\": \"Ocean's Thirteen\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"23496e76-7427-4d26-9120-95f6c8eaf510\",\n            \"content\": \"Unbelievable Truth, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3e3ab474-5d8e-40ae-b5a7-6f0d9ae61c44\",\n            \"content\": \"Face of Terror\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"b45f4570-6a88-4241-95cd-2a21ff6f5086\",\n        \"question\": \"Tower Heist\",\n        \"answer\": [\n          {\n            \"id\": \"32dafd73-7707-4d41-aa83-c0d67e009937\",\n            \"content\": \"Ungentlemanly Act, An\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c1828189-bdb1-48af-9522-62b483d5b72c\",\n            \"content\": \"Demon Wind\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"806db744-7c78-42b2-a8cf-d9f15687063b\",\n            \"content\": \"I Love You, Man\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"088a0c9d-eb71-49f6-a6c9-8eb1912f5a13\",\n            \"content\": \"Place of One's Own, A\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"576e3ff8-7571-4865-8714-d11d95f6da84\",\n            \"content\": \"Satan's School for Girls\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"00d43a4e-1e09-4bf6-8466-0dfab3ccaad6\",\n            \"content\": \"Planet of the Future, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"93d41025-3256-4c01-8884-2e41088e441a\",\n            \"content\": \"Cool Air\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"74b6f568-12d4-4a11-862d-0eccba8f5c35\",\n            \"content\": \"Don't Go Near the Water\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"04e5cc72-d51d-4fdf-8ce4-5dc7468ac791\",\n            \"content\": \"He Got Game\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"3a453eee-25ce-4a1a-82ca-2c5fd2b802b3\",\n            \"content\": \"Nicht alle waren Mörder\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"dd996fb6-2e60-423d-b23a-bfafde76dee0\",\n        \"question\": \"Putty Hill\",\n        \"answer\": [\n          {\n            \"id\": \"b5c1fbb6-7e39-472d-b72d-3b4a30f434a2\",\n            \"content\": \"Torment\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"04af84b0-dd41-4431-8fc1-c084a539858e\",\n            \"content\": \"Lion King, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"41846ae6-1318-42a5-8d33-434c37fcde58\",\n            \"content\": \"Big Easy, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ba498f89-8981-416d-94c1-7b6034423772\",\n            \"content\": \"Possessed\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a1c6cc8c-78b3-4650-a439-6a9aef0dbb5f\",\n            \"content\": \"27 Club, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e5fd3229-2f17-4d49-b243-4d65e3f63b4c\",\n            \"content\": \"Prince of Egypt, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"e34006c6-4704-4866-8dac-21ed68e9c0f5\",\n            \"content\": \"Leo the Last\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"14c4dcfd-6166-48cb-a5ae-553467f019ea\",\n            \"content\": \"Attack!\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"6397718f-9401-4d64-a9e6-5ba2ba5ecc2b\",\n            \"content\": \"Yatterman (Yattâman)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"fe825d72-1bdb-4cca-83ea-70d84e46c183\",\n            \"content\": \"Broken Hearts Club, The\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"07ffefbc-1fd8-4940-91cb-bf8ec33263e9\",\n        \"question\": \"Passenger 57\",\n        \"answer\": [\n          {\n            \"id\": \"8081af48-cf0f-4912-8096-2e5904a735d7\",\n            \"content\": \"Altered\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"82fc8f35-fad6-4cbd-9c67-0f5c95257467\",\n            \"content\": \"Disaster L.A.\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"aa6f6ce6-5528-4366-ab9b-e45e6609686c\",\n            \"content\": \"Light Years Away\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"a41aca5b-84e3-48d3-8383-2b8824209ddd\",\n            \"content\": \"Big Day, The (We Met on the Vineyard)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"30a54ff9-8c6d-49ff-ada2-31f0f688a605\",\n            \"content\": \"Winning Season, The\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"f4740cd8-de4a-4bd7-a867-6280dfb75718\",\n            \"content\": \"Quest, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c6eb4306-f33a-405a-ae21-3cb7736c6d07\",\n            \"content\": \"Plenty\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"612f29e0-9690-462e-a5d8-1dc004a9addc\",\n            \"content\": \"Jinxed!\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"55951de1-c90a-4b02-ab2f-c5c762c2ea61\",\n            \"content\": \"Bound by Honor (a.k.a. Blood In, Blood Out)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0dc6b436-aa71-4f3b-ba55-6fcaa3c69861\",\n            \"content\": \"Romance\",\n            \"isCorrect\": true\n          }\n        ]\n      },\n      {\n        \"id\": \"260888d0-80eb-4bd3-a594-1b871e9d6edb\",\n        \"question\": \"Gun the Man Down\",\n        \"answer\": [\n          {\n            \"id\": \"0e136709-1faf-4df0-b5a0-3654156f7824\",\n            \"content\": \"Entrapment\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"37a7fe24-728a-4542-b57f-7e88ab7f038d\",\n            \"content\": \"Slither\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"fbcdf08f-c566-4735-a5df-ed627057f670\",\n            \"content\": \"Nicholas on Holiday\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"0d0d80fb-264a-495f-9b4f-273d963787a0\",\n            \"content\": \"My Best Friend's Wife\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"2f7d0509-e27a-4b9e-8630-285c0fa82abe\",\n            \"content\": \"Room at the Top\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"4c1c77f4-4ac6-4139-97ab-020e970aabdc\",\n            \"content\": \"Lego: The Adventures of Clutch Powers\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"c53e0843-d56a-4178-99b9-f4360cb58cf6\",\n            \"content\": \"Oily Maniac, The (You gui zi)\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"ec71a5a2-0784-4719-a593-9e7b8b80d703\",\n            \"content\": \"Goliyon Ki Raasleela Ram-Leela\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"de3b9a0c-f71f-44a2-8778-78d4448a961d\",\n            \"content\": \"Final Inquiry, The (Inquiry, The) (inchiesta, L')\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"5e196ee2-97d4-43b8-884d-1164b805120a\",\n            \"content\": \"Endeavour\",\n            \"isCorrect\": false\n          }\n        ]\n      },\n      {\n        \"id\": \"dd29aa6f-dae6-4e1b-8162-06f89949a18d\",\n        \"question\": \"Last Man Standing\",\n        \"answer\": [\n          {\n            \"id\": \"8229596b-674d-47c7-a389-c8963c98aea3\",\n            \"content\": \"Shaft\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"c83e5443-55d6-4f66-937d-86072632774f\",\n            \"content\": \"Effie Gray\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"dc5bd234-1feb-42dd-93f7-0a275dff8a42\",\n            \"content\": \"First Deadly Sin, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"04f61e5f-ba6f-49f0-ae2a-c8bb173f89ef\",\n            \"content\": \"The Hound of the Baskervilles\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"094f04c3-a31e-4066-9b42-0c328647fcc4\",\n            \"content\": \"Private Lives\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"2cb334dc-a4e2-462e-927b-4944bfca262e\",\n            \"content\": \"Unfaithful\",\n            \"isCorrect\": false\n          },\n          {\n            \"id\": \"900b3589-9e22-4b8e-a035-7fddd0984cfe\",\n            \"content\": \"G.I. Joe: The Movie\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"807df2de-3e10-433f-ba7f-74867e5240ab\",\n            \"content\": \"Study in Terror, A\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"fcb8f6b4-0a0a-4b50-96b3-d616c5bc6f7d\",\n            \"content\": \"Babysitters, The\",\n            \"isCorrect\": true\n          },\n          {\n            \"id\": \"5a8da74a-41ef-4937-8ba9-1b5e92e39821\",\n            \"content\": \"Jack Reacher\",\n            \"isCorrect\": true\n          }\n        ]\n      }\n    ]\n  }\n]\n\n\n// Find the object with the matching id\nlet matchingObject = quizz.find(item => item.id === id);\n// if (!matchingObject) {\n//   msg.payload = {};\n// } else {\n//   msg.payload = matchingObject;\n// }\n\nmsg.payload = matchingObject;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "621de5da2fbed5b1"
            ]
        ]
    },
    {
        "id": "621de5da2fbed5b1",
        "type": "http response",
        "z": "64c0b220105b21f9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0d75d87254cd992",
        "type": "debug",
        "z": "64c0b220105b21f9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 180,
        "wires": []
    }
]